---
Name: silverstripe-4-5-compatibility-custom
---



# Email fix for SS5
# also see: https://github.com/sunnysideup/silverstripe-test-email/blob/master/_config/config.yml
---
Only:
  envvarset: 'SS_HOSTED_WITH_SITEHOST'
After: 'mailer'
---
SilverStripe\Core\Injector\Injector:
  Symfony\Component\Mailer\Transport\TransportInterface:
    constructor:
      dsn: 'sendmail://default?command=/usr/sbin/sendmail%20-oi%20-t'
